@font-face {
    font-family: 'UItalica';
    src: url("Font/Ubiquitous\ Italic.ttf");
  }

@font-face {
    font-family: 'Ubi';
    src: url("Font/Ubiquitous.ttf");
  }


#add-task{

    border: black 1px solid;
    border-radius: 4px;
    width: 450px;
    height: auto;
    margin-left: 440px;
    padding: 10px;

}

#task-name{

    display: block;
    width: 180px;
    margin-bottom: 18px;
    font-family: 'UItalica';

}

#task-desc{

    margin-top: 18px;
    margin-bottom: 18px;
    display: block;
    width: 442px;
    height: 80px;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Ubi';

}

#btn-add{

    margin-left: 365px;
    background-color: #add8e6;
    border: #add8e6 1px solid;
    border-radius: 4px;
    
}

#btn-add:hover{

    background-color: #72bcd4;

}

.bordes{

    border: black 1px solid;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;

}

#pendig-tasks{

    margin-top: 40px;
    width: 480px;
    padding: 20px;
    margin-left: 20px;
    border: black 1px solid;
    border-radius: 4px;
    overflow-y: scroll;

}

.task{

    width: 450px;

}

.container-flex{
    display: flex;
    justify-content: space-between;
}

